extends layout
block content
    div(class="container")
        div(class="loginPage")
                h1(class="h1Classes") AUSC Lunch-For-4 Change Users Page
                input(class="signInButton" type="button" name="Home" id="Home" value="Home" onclick="location.href = '/adminHomePage';")
                p(class="pClasses" href='https://aurora.edu/index.html') Aurora University ©2020

    div(class="alertBottom")
    div(class="alertTop")

